.insights-body {
  //overflow: scroll;

  .tap-btn {
    @include btn-base;
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #696969;
    z-index: 10;
    background: transparent;
    cursor: default;
    span {
      position: absolute;
      bottom: 130px;
      right: 28px;
      font: 400 12px/120% $text-font;
    }


    @media (min-width: 992px) {
      display: none;
    }
  }
  .back-btn {
    top: 13px;
    left: 24px;
    padding: 10px 10px;

    img {
      width: 20px;
    }

    span {
      display: none;
    }
    @media (min-width: 992px) {
      top: 3%;
      left: 40px;

      img {
        width: auto;
      }

      span {
        display: block;
      }
    }




    @media (min-width: 1700px) {
      top: 3%;
      padding: 20px 10px;
      left: 80px;
    }
  }

  .main-icons {
    opacity: 1;
    top: 2%;

    @media (min-width: 1700px) {
      top: 5%;
    }
  }
}

.column-footer-descr {
  font: 400 12px/150% $text-font;
  color: #696969;

  @media (min-width: 1700px) {
    font: 400 16px/150% $text-font;
  }
}

.column-logo {
  position: absolute;
  bottom: 20px;
}

.insights {
  width: 100%;
  height: 100%;



  .left-column-wrapper {
    width: 100%;
    height: 100%;
    padding: 60px 28px;
    position: fixed;
    top: 0;
    left: 0;
    color: $text-color;

    @media (min-width: 992px) {
      width: 33%;
      max-width: 561px;
      padding: 100px 0 0 50px;
    }

    @media (min-width: 1700px) {
      padding: 130px 0 0 88px;
      max-width: none;
      width: 33%;
    }

    .left-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      @media (min-width: 992px) {
        padding: 0 50px 90px 0;
        border-right: 2px solid #C4C4C4;
        justify-content: flex-start;
      }
    }

    .description {
      opacity: 0;
      @media (min-width: 992px) {
        @include hide-scrollbar;
        max-height: 400px;
        height: 40vh;
        overflow: auto;
        margin-bottom: 20px;
        opacity: 1;
      }
    }

    .description-item {
      font: 400 16px/133% $text-font;
      margin-bottom: 16px;
      cursor: default;

      @media (min-width: 1700px) {
        font: 400 22px/133% $text-font;
        margin-bottom: 16px;
      }
    }

    .images {
      margin-bottom: 30px;
      display: none;
      @media (min-width: 992px) {
        display: block;
      }

      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        @media (min-width: 1500px) {
          height: 37vh;
        }
      }
    }

    .column-logo {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
  }

  .right-column {
    padding: 60px 28px 0;
    padding-bottom: 80px;
    overflow-y: scroll;
    height: calc(100% - 35px);
    @include hide-scrollbar;
    display: none;


    @media (min-width: 992px) {
      padding: 90px 0 0 36%;
      display: block;
    }

    @media (min-width: 1700px) {
      padding: 110px 0 0 36%;
      margin-bottom: 100px;
    }

    .insights-item {
      color: $text-color;
      padding: 8px 0;
      display: block;

      @media (min-width: 1700px) {
        padding: 20px 0;
      }

      .title {
        font: 400 16px/150% $title-font;


        @media (min-width: 992px) {
          font: 400 30px/117% $title-font;
          transition: all .1s linear;
        }

        @media (min-width: 1700px) {
          font: 400 48px/117% $title-font;
        }
      }

      .descr {
        font: 400 16px/150% $text-font;
        opacity: 0.5;
        transition: all .1s linear;

        @media (min-width: 992px) {
          font: 400 20px/125% $text-font;
        }

        @media (min-width: 1700px) {
          font: 400 32px/125% $text-font;
        }
      }
    }
  }
}


.insights-item {

  .logo {
    @media (min-width: 992px) {
      display: none;
    }
  }

  .mob-icon {
    margin: 0 0 16px 28px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .mob-text {
    font: 400 14px/140% $text-font;
    font-style: italic;
    color: #B4B4B4;
    margin: 0 28px 16px;
  }


  .left-column-wrapper {
    width: 33%;
    max-width: 561px;
    height: 100%;
    padding: 70px 50px 90px 50px;
    position: fixed;
    top: 0;
    left: 0;
    color: $text-color;
    display: none;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: 1700px) {
      padding: 130px 0 40px 88px;
      width: 33%;
    }
  }

  .insights-logo {
    width: 80%;
    max-width: 320px;
    display: block;
    margin-bottom: 40px;
  }

  .description {
    font: 400 16px/133% $text-font;
    @media (min-width: 1700px) {
      font: 400 24px/133% $text-font;
    }

  }

  .right-column {
    position: relative;
    margin: 60px 0 0;
    height: calc(100vh - 70px);
    @include hide-scrollbar;
    overflow-y: scroll;

    @media (min-width: 992px) {
      margin: 70px 10% 0 33%;
    }

    @media (min-width: 1700px) {
      margin: 130px 10% 0 33%;
      height: calc(100vh - 130px);
    }

    .content {
      color: $text-color;
      margin-bottom: 40px;

      @media (min-width: 992px) {
        padding-left: 30px;
        border-left: 2px solid #C4C4C4;
        margin-bottom: 0;
      }

      @media (min-width: 1700px) {
        padding-left: 60px;
        //margin-bottom: 80px;
      }
    }
    .title {
      font: 700 16px/120% $title-font;
      margin-bottom: 16px;
      padding: 0 28px;

      @media (min-width: 992px) {
        font: 700 30px/120% $title-font;
        margin-bottom: 23px;
        padding: 0;
      }

      @media (min-width: 1700px) {
        font: 700 40px/120% $title-font;
      }
    }

    .descr-item {
      font: 400 16px/150% $text-font;
      margin-bottom: 23px;
      padding: 0 28px;

      @media (min-width: 992px) {
        margin-bottom: 16px;
        font: 400 16px/133% $text-font;
        padding: 0;
      }

      @media (min-width: 1700px) {
        font: 400 24px/133% $text-font;
      }
    }

    .close-btn {
      @include btn-base;
      width: 20px;
      height: 20px;
      position: fixed;
      top: 10%;
      right: calc(5% + 5px);
      transition: .2s linear;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }

      &:hover {
        filter: drop-shadow(0px 0px 3px #FFF);
      }

      @media (min-width: 1700px) {
        width: 30px;
        height: 30px;
        top: 13%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.insights-image-slider {
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: 1700px) {
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 220px;

    @media (min-width: 768px) {
      height: 300px;
    }

    @media (min-width: 992px) {
      height: 500px;
    }


    @media (min-width: 1700px) {
      height: 694px;
    }
  }

  .slick-btn {
    @include btn-base;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;

  }

  .slick-prev {
    left: 0;
    cursor: url(../img/icons/prev.svg), pointer;
  }

  .slick-next {
    right: 0;
    cursor: url(../img/icons/next.svg), pointer;
  }
}

.back-insights-btn-wrap {
  display: flex;
  justify-content: center;
}

.back-insights-btn {
  @include btn-base;
  display: flex;
  align-items: center;
  margin-bottom: 15vh;
  color: $text-color;
  transition: .2s linear;
  font: 700 14px/133% $text-font;
  padding: 16px;
  opacity: .7;

  @media (min-width: 992px) {
    margin-bottom: 25px;
    font: 700 16px/133% $text-font;
    opacity: 1;
  }

  &:hover {
    filter: drop-shadow(0px 0px 3px #FFF);
  }

  @media (min-width: 1700px) {
    margin-bottom: 20px;
    font: 700 24px/133% $text-font;
    padding: 24px;
  }

  .icon {
    margin-right: 17px;
  }
}

.switcher-insights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (min-width: 992px) {
    padding: 0 0 0 23px;
    margin-bottom: 0;

  }

  @media (min-width: 1700px) {
    //margin-bottom: 80px;
    padding: 0 0 0 46px;
  }


  .prev-page,
  .next-page {
    @include btn-base;
    display: flex;
    align-items: center;
    color: $text-color;
    font: 700 14px/133% $text-font;
    padding: 10px 28px;
    transition: .2s linear;
    opacity: .7;

    @media (min-width: 992px) {
      padding: 16px;
      font: 700 16px/133% $text-font;
      opacity: 1;
      transform: translateY(100%);
    }

    &:hover {
      filter: drop-shadow(0px 0px 3px #FFF);
    }

    @media (min-width: 1700px) {
      font: 700 24px/133% $text-font;
      padding: 24px;
    }

    .icon {
      margin-right: 12px;

      @media (min-width: 1700px) {
        margin-right: 17px;
      }
    }
  }

  .next-page {
    margin-left: auto;
  }
}



