// ---------------Main menu----------

.menu-wrapper {
    display: none;
    background-color: #000;
}

.menu {
    width: 100vw;
    background-color: $dark-bg;
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    padding: 95px 0 50px;
    display: flex;
    color: #fff;
    height: 100vh;
    overflow: hidden;

    @media (max-height: 560px) {
        padding: 95px 0 50px;
    }

    @media (min-width: 992px) {
        padding: 50px 88px 10px;
    }

    @media (min-width: 1800px) {
        padding: 100px 100px 50px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin: 14px 0;

        @media (min-width: 992px) {
            display: none;
        }

        .social-icons-item {
            width: 24px;
            height: 24px;
            //border-radius: 50%;
            background-color: transparent;
            margin: 0 2px;
            opacity: .9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s linear;

            @media (min-width: 992px) {

            }

            &:hover {
                opacity: 1;
                filter: drop-shadow(0px 0px 3px #FFF);
            }
        }
    }
}

.mob-nav-tabs {
    position: fixed;
    background-color: #000;
    top: 55px;
    left: 0;
    width: 100%;
    display: flex;

    @media (min-width: 992px) {
        display: none;
    }

    .nav-tab {
        width: 50%;
        padding: 10px;
        text-align: center;
        font: 700 18px/24px $text-color;
        color: #696969;
        opacity: 0.5;
    }
    .nav-tab.active {
        opacity: 1;
        box-shadow: 0px 1px 0px #696969;
    }

}


.close-menu-btn {
    @include btn-base;
    padding: 10px;
    position: absolute;
    left: 24px;
    top: 13px;
    width: 40px;
    z-index: 120;

    @media (min-width: 992px) {
        right: 24px;
        top: 24px;
        left: auto;
    }

    @media (min-width: 1800px) {
        width: 52px;
    }

    img {
        width: 100%;
    }

    .desktop-icon {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }

    .mobile-icon {
        display: block;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.menu-lang-list {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @media (min-width: 992px) {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 5%;
        left: 83px;
        margin-bottom: 0;
    }

    @media (min-width: 1800px) {
        top: 60px;
        left: 95px;
    }
}

.menu-lang-link {
    padding: 5px;
    transition: .2s linear;
    color: #fff;
    font: 400 14px/120% 'Roboto', sans-serif;

    &:hover {
        //background-color: rgba(255, 255, 255, 0.2);
        filter: drop-shadow(0px 0px 3px #FFF);
    }

    @media (min-width: 1800px) {
        font: 400 18px/120% 'Roboto', sans-serif;
    }
}

.menu-footer {
    .menu-logo {
        max-width: 140px;
        display: block;

        @media (min-width: 1800px) {
            max-width: 196px;
        }

        img {
            width: 100%;
            display: none;

            @media (min-width: 992px) {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

.menu-footer-descr {
    color: #696969;
    font: 400 12px/120% $text-font;
    max-width: 80%;
    text-align: center;
    margin:  0 auto 50px;

    @media (min-width: 992px) {
        max-width: none;
        text-align: left;
        margin: 0;
    }

    @media (min-width: 1800px) {
        font: 400 16px/24px $text-font;
    }
}

.menu-left-column {
    width: 100%;
    margin: 50px 10px 0;
    display: none;
    overflow: scroll;
    @include hide-scrollbar;

    @media (max-height: 560px) {
        margin: 30px 10px 0;
    }

    @media (min-width: 992px) {
        display: block;
        width: 50%;
        padding: 20px 0;
        margin: 0;
        overflow: hidden;
    }

    @media (min-width: 992px) {
        padding: 50px 0 20px;
    }

    @media (min-width: 1800px) {
        padding: 36px 0 20px;
    }
}

.left-column-title {
    font: 400 20px/120% $text-font;
    margin-bottom: 10px;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

    @media (min-width: 1800px) {
        font: 400 32px/40px $text-font;
        margin-bottom: 4px;
    }
}

.left-column-subtitle {
    font: 400 38px/120% $title-font;
    margin-bottom: 15px;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

    @media (min-width: 1800px) {
        font: 400 64px/72px $title-font;
        margin-bottom: 4px;
    }
}

.menu-trends-list {
    width: 100%;
    @media (min-width: 992px) {
        width: auto;
    }
}

.menu-trends-item {
    font: 400 16px/150% $text-font;
    text-align: center;
    width: 100%;
    position: relative;

    @media (min-width: 992px) {
        font: 400 20px/125% $text-font;

        transition: .2s linear;
        margin-bottom: 0;
        text-align: left;

        span {
            transition: .2s linear;
            opacity: 0.5;
        }

        &:hover {
            .img-item {
                display: block;
            }
            span {
                opacity: 1;
            }
        }
    }

    @media (min-width: 1500px) {
        font: 400 20px/140% $text-font;
    }

    @media (min-width: 1800px) {
        font: 400 32px/40px $text-font;
    }



    .link {
        color: #fff;
        padding: 4px 0;
        display: block;

        @media (max-height: 560px) {
            padding: 0;
        }


        @media (min-width: 992px) {
            padding: 2px 0;
        }
    }

    .img-item {
        width: 300px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 120%;
        transform: translate(-50%, -48%);
        z-index: -1;
        display: none;

        @media (min-width: 1200px) {
            left: 164%;
        }

        @media (min-width: 1500px) {
            left: 180%;
        }

        @media (min-width: 1800px) {
            left: 154%;
        }
    }

}

.menu-trends-wrap {
    display: flex;
    //margin-bottom: auto;
    //margin-bottom: 30px;
}

.left-column-content {
    display: flex;
    flex-direction: column;
    height: 100%;


    .mb-auto {
        margin-bottom: auto;
    }
}

//.menu-trends-imgs {
//    width: 300px;
//    height: 300px;
//    margin-left: 10px;
//    margin-top: 10px;
//    overflow: hidden;
//    display: none;
//
//    @media (min-width: 992px) {
//        display: block;
//    }
//
//    @media (min-width: 1800px) {
//        margin-top: 44px;
//        width: 320px;
//        height: 320px;
//    }

    //.img-item {
    //    width: 100%;
    //    height: 100%;
    //    object-fit: cover;
    //    display: none;
    //}

    //.img-item-active {
    //    display: block;
    //}
//}

.menu-right-column {
    width: 100%;
    margin: 24px 28px 0;
    display: none;
    overflow: scroll;
    @include hide-scrollbar;

    @media (min-width: 992px) {
        display: block;
        width: 50%;
        padding: 55px 20px 0 0;
        margin: 0;
        overflow: hidden;
    }

    @media (min-width: 1800px) {
        padding: 80px 40px 0 20px;
    }

    .righ-column-title {
        font: 400 30px/120% $title-font;
        margin-bottom: 4px;
        display: none;

        @media (min-width: 992px) {
            display: block;
        }

        @media (min-width: 1800px) {
            font: 400 56px/72px $title-font;
        }
    }

    .text-big {
        font: 700 16px/125% $text-font;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            font: 400 20px/125% $text-font;
            margin-bottom: 10px;
        }

        @media (min-width: 1800px) {
            font: 400 32px/125% $text-font;
            margin-bottom: 0;
        }
    }

    .text {
        font: 400 14px/150% $text-font;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin-bottom: 20px;
        }

        @media (min-width: 1800px) {
            font: 400 16px/32px $text-font;
            margin-bottom: 30px;
        }
    }

    .partners-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 400px;
        margin-top: 30px;
        justify-content: center;
        margin: 0 auto;

        @media (min-width: 992px) {
            justify-content: flex-start;
            margin: 20px 0 0;
        }

        @media (min-width: 1800px) {
            max-width: 400px;
            margin-top: 56px;
        }
    }

    .partners-item {
        width: 27%;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            width: 25%;
        }

        img {
            max-width: 80%;
            transition: .2s ease-in-out;

            @media (min-width: 992px) {
                max-width: 100%;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.tab-active {
    display: block;
}

