@import "variables";

@mixin btn-base {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

@mixin hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}