.trend {

  @media (min-width: 992px) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

}

.trend-page {

  @media (max-width: 992px) {
    overflow: auto;
    .close-menu-btn{
      top: 6px;
      left: 17px;
    }
  }


  .main-icons {
    opacity: 1;


    @media (min-width: 992px) {
      background: transparent;
      top: 2%;
      right: 3%;
      padding: 20px;
      .close-menu-btn{
        top: 6px;
        left: 17px;
      }
    }

    @media (min-width: 1920px) {
      right: 4%;
    }

    .social-icons {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .menu-btn {

    @media (max-width: 992px) {
      top: 0;
      position: fixed;
    }
  }

}

.trend-preloader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 30;
  opacity: 0;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }


  .preloader-logo {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 196px;

    img {
      width: 196px;
    }
  }

  .logo-wrapper {
    position: relative;
    width: 100%;
  }

  .logo-white-wrap {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
  }

  .load-percent {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  .preloader-text {
    max-width: none;
    padding: 0 10%;
    opacity: 1;
  }

  .preloader-title {
    font: 400 120px/100% $title-font;
    margin: 0 auto;
    max-width: 80%;

    @media (min-width: 1920px) {
      font: 400 200px/100% $title-font;
    }
  }

  .main-image {
    display: block;
    position: absolute;
    top: 5%;
    left: 53%;
    width: 23%;
    max-width: 581px;
    max-height: 882px;
    height: 75%;
    object-fit: cover;
    transform: rotate(-18.83deg) translate(-50%, 0);

    @media (min-width: 1920px) {
      height: 80%;
      width: 32%;
      top: 2%;
      left: 53%;
    }
  }

  .bottom-img {
    display: block;
    width: 240px;
    height: 160px;
    transform: rotate(10.52deg);
    position: absolute;
    bottom: 8%;
    left: 4%;
    object-fit: cover;

    @media (min-width: 1920px) {
      bottom: 12%;
      left: 10%;
      width: 276px;
      height: 193px;
    }
  }

  .left-img {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 12%;
    left: 4%;
    object-fit: cover;
    transform: rotate(-7.41deg);

    @media (min-width: 1920px) {
      top: 17%;
      left: 8%;
      width: 194px;
      height: 194px;
    }
  }

  .right-img {
    display: block;
    position: absolute;
    width: 220px;
    height: 220px;
    object-fit: cover;
    transform: rotate(-22.4deg);
    // left: calc(50% + 230px);
    right: 22%;
    top: 23%;

    @media (min-width: 1920px) {
      width: 300px;
      height: 300px;
      left: calc(50% + 314px);
      top: 23%;
    }
  }
}


// ******************* Content trend ******************
.back-btn {
  display: flex;
  align-items: center;
  font-family: $text-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 13px 24px;
  transition: .2s linear;

  span {
    display: none;
  }

  @media (min-width: 992px) {
    top: 2%;
    left: 60px;
    padding: 20px 10px;
    span {
      display: block;
    }
    &:hover {
      filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.7));
    }
  }



  @media (min-width: 1920px) {
    font-size: 24px;
    top: 4px;
    left: 80px;
  }

  img {
    margin-right: 16px;
  }
}

.trend-content {
  width: 100vw;
  position: relative;
  margin-bottom: 100px;

  @media (min-width: 992px) {
    overflow: hidden;
    margin-bottom: 0;
    height: 100vh;
  }

  .trend-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 103;
    display: flex;
    align-self: center;

    @media (min-width: 992px) {
      z-index: 20;
    }
  }

  .trend-tags {
    display: none;

    @media (min-width: 992px) {
      display: flex;
    }
  }

  .tags-item {
    font: 400 14px/20px $text-font;
    padding: 8px 18px;
    margin: 4px;
    transition: .2s linear;
    border-radius: 8px;
    color: #fff;
    display: block;
    background-color: #fff;
    color: #3C3C3C;

    &:hover {
      background-color: #467D64;
      color: #fff;
    }
  }
  .bg-mob-block {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    height: 40px;
    width: 100vw;
    @media (min-width: 992px) {
      display: none;
    }
  }
  .logo-main {
    @media (max-width: 992px) {
      position: fixed;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      &:after {
        content: '';
        background-color: #fff;
        display: block;
      }
    }
    @media (min-width: 992px) {
      margin: 5px 0 0 8px;
    }
  }
}

.trend-slider {
  position: relative;

  .slider-img,
  .slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .slick-prev,
  .slick-next {
    @include btn-base;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
  }

  .slick-prev {
    left: 0;
    cursor: url(../img/icons/prev.svg), pointer;
  }

  .slick-next {
    right: 0;
    cursor: url(../img/icons/next.svg) 80 -20, pointer;
  }

  .slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slick-slide {
    height: 50vh;
    transition: .4s linear;
    @media (min-width: 992px) {
      height: 100vh;
    }
  }
}

// ************************Color pallete **********************

.color-pallete {
  display: none;
  //align-items: center;
  height: 112px;
  width: auto;
  position: absolute;
  top: 150px;
  right: -10px;
  z-index: 20;
  color: #fff;
  padding: 18px 15px 18px 9px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  transform: translateX(80%);
  cursor: url(../img/icons/eye.svg) 55 25, pointer;
  transition: .2s ease-in-out;

  @media (max-width: 992px) {
    display: none!important;
  }

  .text {
    font: 400 14px/20px $text-font;
    transform: rotate(-90deg);
    text-align: center;
    max-width: 80px;
  }

  .pallete-list {
    opacity: 0;
    transition: .2s linear;
    //transition-delay: .1s;
    display: flex;
    margin-left: -35px;
  }

  .pallete-item {
    margin-right: 6px;
    //width: 100%;
    width: 50px;
    height: 100%;
    min-height: 72px;
    position: relative;
    cursor: pointer;

    .color-code {
      display: none;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      padding: 3px;
      background-color: #D5D5D5;
      border-radius: 4px;
      font:400 12px/16px $text-font;
      text-transform: uppercase;
      text-align: center;
      color: #000;

      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color:  #D5D5D5;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
}

.color-pallete.active {
  background: rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  //cursor: url(../img/icons/x.svg) 55 25, pointer;
  cursor: default;

  .pallete-list {
    opacity: 1;
  }
}

.trend-mob-menu-btn {
  top: 5px!important;
  right: 13px!important;
}


.icons-trend {
  position: absolute;
  right: 50px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 20px;

  .lang-dropdown {
    padding: 0 20px;
    margin-left: -17px;
  }
}

// ----------title trend-------
.author-photo {
  font: 400 14px/120% $text-font;
  color: #fff;
  padding: 14px 26px 0;

  @media (max-width: 992px) {
    display: none;
  }
}

.trend-title-block {
  display: none;
  position: fixed;
  z-index: auto;
  color: #fff;
  z-index: 22;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 10px 16px;

  @media (min-width: 992px) {
    display: block;
    cursor: url(../img/icons/eye.svg), pointer;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: calc(100vh + 1px);
    top: 50%;
    left: 30px;
    height: 60px;
    background-color: transparent;
    transition: .1s linear;
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: auto ;
    padding: 0;

    &:hover {
      justify-content: center;
      .title {
        color: #3C3C3C;
      }
      //
      //.title-hover {
      //  opacity: 1;
      //}
    }
  }

  @media (min-width: 1920px) {
    height: 80px;
    left: 40px;
  }




  .title,
  .title-hover {
    font: 400 24px/32px $title-font;
    text-align: center;

    @media (min-width: 992px) {
      transition: .3s linear;
      display: block;
      white-space: nowrap;
      position: absolute;
      z-index: 20;
      font: 400 26px/100% $title-font;
      padding: 0 30px;
      opacity: 1;
    }

    @media (min-width: 1920px) {
      font: 400 48px/100% $title-font;
    }
  }

  //.title-hover {
  //  display: none;
  //
  //  @media (min-width: 992px) {
  //    display: none;
  //    left: 50%;
  //    transform: translateX(-50%);
  //    color: #3C3C3C;
  //    opacity: 1;
  //  }
  //}
}


//.trend-title-block.hover {
//  color: #3C3C3C;
//
//  .title {
//    transform: translateX(calc(50vh - 50%));
//  }
//}

//--------------Info tabs------------
.info-tabs.visible {
  top: 50vh;
  bottom: 0;

  @media (min-width: 992px) {
    left: 0;
    bottom: auto;
    top: auto;
  }
}

.tab-info-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 20;
  cursor: url(../img/icons/x.svg), pointer;
  @media (min-width: 992px) {
    display: block;
  }

}

.info-tabs {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100vw;
  transition: .5s linear;

  @media (min-width: 992px) {
    top: 0;
    left: -100%;
    bottom: auto;
    width: 50vw;
    height: 100%;
    z-index: 25;
  }

  .tabs-nav {
    width: 100%;
    display: flex;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-item {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 10px;
    font: 400 18px/24px $text-font;
    color: #3C3C3C;
    opacity: .5;
    transition: .2s linear;
    cursor: url(../img/icons/eye.svg), pointer;
    user-select: none;
    white-space: nowrap;

    @media (min-width: 992px) {
      padding: 20px 10px;
      font: 400 24px/32px $text-font;
    }

    @media (min-width: 1920px) {
      font: 400 32px/40px $text-font;
      padding: 42px 20px;
    }
  }

  .bg-trend-tab-active {
    opacity: 1;
    cursor: default;
    //box-shadow: 0px 1px 0px #696969;
    //@media (min-width: 992px) {
    //  box-shadow: none;
    //}

  }

  .tabs-content-item {
    height: 100%;
    display: none;
    padding: 55px 0 10px;
    user-select: none;
    width: 100%;

    @media (min-width: 992px) {
      padding: 124px 0 60px;
    }

    @media (min-width: 1700px) {
      padding: 200px 0 60px;
    }

    .wrapper-content {
      height: 100%;
      width: 100%;

      padding: 0 30px 110px;
      display: flex;
      //flex-direction: column;
      //justify-content: flex-start;


      @media (min-width: 992px) {
        width: 98%;
        padding: 0 70px;
        overflow: auto;
      }

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }
    }

    .trend-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      //margin-bottom: 100px;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .centered {
      margin: auto;
      @media (max-width: 992px) {
        background: none!important;
        padding-bottom: 100px;
      }
    }
  }

  .tabs-content-item.active {
    display: block;
  }


  .trend-title {
    color: $trend-text;
    font: 400 24px/32px $title-font;
    width: 100%;
    max-width: 700px;
    margin: 0 0 16px;
    text-align: left;

    @media (min-width: 992px) {
      font: 400 44px/112% $title-font;
      width: 98%;
      margin: 0 auto 24px;
      padding: 0 25px;
    }

    @media (min-width: 1920px) {
      font: 400 64px/72px $title-font;
    }
  }

  .trend-descr {
    font: 400 16px/24px $text-font;
    width: 100%;
    max-width: 700px;
    margin: 0 0 16px;
    text-align: left;

    @media (min-width: 992px) {
      font: 400 18px/133% $text-font;
      margin: 0 auto 10px;
      padding: 0 25px;
    }

    @media (min-width: 1920px) {
      font: 400 24px/133% $text-font;
      margin-bottom: 15px;
    }
  }

  .close-info-btn {
    display: none;
    @include btn-base;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: 30;
    width: 20%;
    height: calc(100vh - 72px);
    background-color: transparent;
    cursor: url(../img/icons/x.svg), pointer;

    @media (min-width: 992px) {
      display: block;
    }

    @media (min-width: 1920px) {
      top: 124px;
      height: calc(100vh - 124px);
    }
  }
}

.mb-5 {
  margin-bottom: 1em !important;
}