
//----------------------------- Colors ---------------------------------
$white: #FFF;
$black: #000;
$dark-bg: #000;
$trend-text: #3C3C3C;
$text-color: #fff;

// --------------------------------Fonts-------------------------------

$title-font: 'Montserrat', sans-serif;
$text-font: 'DM Sans', sans-serif;

