@import "reset";
@import "variables";
@import "menu";
@import "trend";
@import "insights";
@import "libs/slick";
@import "libs/onepage-scroll";


// *****************General*************************
body {
  overflow-x: hidden;
  @include hide-scrollbar;
}

.text-bold {
  font-weight: 700;
}

.d-block {
  display: block !important;
}

.d-xl-none {
  @media (min-width: 992px) {
    display: none!important;
  }
}
.d-none {
  display: none !important;
}

.first-format {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: $dark-bg;
}

.skip-btn1,
.skip-btn2 {
  @include btn-base;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  font: 400 12px/133% $text-font;
  color: #696969;
  z-index: 20;
  background-color: transparent;
  cursor: default;

  span {
    position: absolute;
    bottom: 16px;
    right: 28px;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.skip-btn2 {
  display: none;
}

//.format-1 {
//  background-color: $dark-bg;
//  width: 100vw;
//  min-height: 100vh;
//  // padding: 4% 0 0;
//  position: relative;
//  overflow: hidden;
//}

.logo {
  width: 50%;
  height: 32px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 104;
  transition: all 0.5s linear;

  img {
    height: 100%;
    width: auto;
  }

  @media (min-width: 992px) {
    top: 7%;
    z-index: 20;
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

.logo-mobile {

  @media (max-width: 992px) {
    top: 16px;
    img {
      width: 146px;
      height: 24px;
    }
  }
}


.first-text {
  font: 400 20px/144% $title-font;
  margin: 0 27px;

  @media (min-width: 992px) {
    font: 400 35px/130% $title-font;
    margin: 0;
  }

  @media (min-width: 1800px) {
    font: 400 64px/72px $title-font;
  }

}

.second-text {
  display: none;

  .item-first {
    opacity: 0;
    @media (min-width: 992px) {
      opacity: 1;
    }

  }

  .item-second {
    display: none;
    opacity: 0;

    @media (min-width: 992px) {
      display: block;
      opacity: 1;
    }
  }

  .second-text-item {
    font: 400 20px/140% $text-font;
    margin: 0 28px 0;

    @media (min-width: 992px) {
      margin: 0 28px 20px;
    }

    @media (min-width: 1800px) {
      font: 400 32px/125% $text-font;
      margin: 0 0 30px;
    }
  }
}

.fourth-title,
.third-text {
  font: 400 48px/117% $title-font;
  text-align: center;
  color: #FFF;
  display: none;
  z-index: 10;
  padding: 0 16px;

  @media (min-width: 1800px) {
    font: 400 80px/120% $title-font;
    padding: 0;
  }
}

.preloader-text {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: $text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  user-select: none;
  opacity: 0;

  @media (min-width: 992px) {
    text-align: center;
  }

  @media (min-width: 1800px) {
    max-width: 992px;
  }

}

.explore-btn-wrapper {
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

}

.explore-btn {
  @include btn-base;
  color: #fff;
  font: 400 18px/120% $title-font;
  border-bottom: 2px solid transparent;
  transition: .2s linear;
  margin: 0 auto;
  position: relative;

  @media (min-width: 992px) {
    &:hover {
      //border-bottom: 2px solid #fff;
      color: #000;
      &:after {
        height: 110%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -2%;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: .2s ease;
      z-index: -1;
    }
  }

  @media (min-width: 1800px) {
    font: 400 36px/120% $title-font;
  }
}

.trend-title-mob {
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  text-align: center;
  font: 400 24px/133% $title-font;
  color: $text-color;
  display: none;
  padding: 0 20px;
  //justify-content: center;
  //flex-wrap: wrap;

  .word-overflow {
    margin: 0 3px;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    display: none!important;
  }
}

.trends-list {
  width: 100%;
  height: 48vh;
  max-height: 580px;
  padding: 0;
  display: none;

  transition: all 0.3s linear;
  @media (min-height: 1000px) {
    height: 58vh;
  }

  @media (min-width: 992px) {
    justify-content: center;
    margin-top: 0;
    padding: 10px 30px;
    //margin-top: 10%;
  }

  @media (min-width: 1800px) {
    padding: 10px 80px;
    //height: 62vh;
  }

  .slick-list {
    width: 100%;
    height: 100%;

    @media (max-width: 992px) {
     overflow: visible;
    }
  }

  .slick-track {
    height: 100%;
  }

  .slick-center {
    opacity: 1;
  }
}

.trends-item-hover {
  cursor: url(../img/icons/trend-item-cursor.svg), pointer;

  &:hover {
    max-width: 560px;
    width: 60%;
  }

  a {
    cursor: url(../img/icons/trend-item-cursor.svg), pointer;
  }

  &:last-child:hover {

    .text {
      //transform: rotate(0);
      //font-size: 48px;
      //line-height: 55px;
      //white-space: normal;
      //padding: 0 15%;
      //text-align: left;
      //color: #fff;
      //width: 400px;

    }
  }
}

.trends-item {
  padding: 0 8px;
  height: 100%;
  transition: 2s ease-in-out;
  position: relative;
  overflow: hidden;
  opacity: 0.5;

  @media (min-width: 992px) {
    width: 10%;
    max-width: 176px;
    opacity: 1;
    transition: .3s ease-in-out;
  }

  &:first-child {
    margin-top: -3vh;
  }

  &:nth-child(2) {
    margin-top: -2vh;
  }

  &:nth-child(3) {
    margin-top: 3vh;
  }

  &:nth-child(4) {
    margin-top: -2vh;
  }

  &:nth-child(5) {
    margin-top: 1vh;
  }

  &:nth-child(6) {
    margin-top: -6vh;
  }

  &:nth-child(7) {
    margin-top: -1vh;
  }

  &:nth-child(8) {
    margin-top: 1vh;
  }

  &:nth-child(9) {
    margin-top: -2vh;
  }

  &:last-child {
    margin-top: -2vh;
  }
}


.trends-item .wrapper-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.trends-item-link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.trends-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trends-item-agencies {
  background: linear-gradient(0deg, #731C1C, #731C1C);
  //background: url("../img/bg-agencies.svg") no-repeat center center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  img {
    display: none;

    @media (min-width: 992px) {
      opacity: 0;
      display: block;
    }
  }

  @media (min-width: 992px) {
    //&:hover {
    //  .text-hover {
    //    opacity: 1;
    //  }
    //}
  }



  .text-hover {
    font: 700 45px/120% Montserrat,sans-serif;
    color: #fff;
    position: absolute;
    left: 20%;
    opacity: 0;
    //transition: .5s linear;
    //transition-delay: .5s;

    span {
      display: block;
      white-space: nowrap;
    }
  }

  .active {
    opacity: 1;
    transition: .5s linear;
    transition-delay: .3s;
  }

  .text {
    display: block;
    color: #fff;
    font: 700 24px/28px $text-font;
    padding: 20%;

    @media (min-width: 992px) {
      transform: rotate(-90deg);
      font: 700 16px/110% $text-font;
      white-space: nowrap;
      text-align: center;
      padding: 20%;
    }

    @media (min-width: 1800px) {
      font: 700 24px/110% $text-font;
      right: calc(50% - 156px);
    }
  }

  .agencies-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
}

.main-tilte {
  display: none;
  position: absolute;
  top: 70px;
  color: #fff;
  text-align: center;
  font: 400 14px/120% $title-font;
  overflow: hidden;

  @media (min-width: 992px) {
    bottom: 5%;
    top: auto;
    font: 400 18px/120% $title-font;
  }

  @media (min-width: 1800px) {
    font: 400 28px/120% $title-font;
    bottom: 4%;
  }

  .subtitle {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font: 400 14px/120% $title-font;

    @media (min-width: 992px) {
      margin-bottom: 10px;
      font: 400 18px/120% $title-font;
    }

    @media (min-width: 1900px) {
      margin-bottom: 20px;
      font: 400 28px/120% $title-font;
    }
  }

  .trend-title {
    font: 700 24px/112% $title-font;
    user-select: none;

    @media (min-width: 992px) {
      font: 700 32px/112% $title-font;
      margin-bottom: 5px;
    }

    @media (min-width: 1800px) {
      font: 700 48px/112% $title-font;
      margin-top: -10px;
      margin-bottom: 5px;
    }

    .word-overflow {
      display: inline-block;
      overflow: hidden;

      span {
        display: inline-block;
        margin-right: 7px;

        @media (min-width: 1800px) {
          margin-right: 10px;
        }
      }
    }

  }

  .trend-descr {
    font: 400 12px/125% $title-font;
    text-align: center;
    user-select: none;

    @media (min-width: 1800px) {
      font: 400 15px/23px $title-font;
    }

    .word-overflow {
      display: inline-block;
      overflow: hidden;

      span {
        display: inline-block;
        margin-right: 5px;

        @media (min-width: 1800px) {
          margin-right: 10px;
        }
      }
    }
  }
}

.screen-switch-btn {
  @include btn-base;
  position: absolute;
  bottom: 6%;
  left: 5%;
  background-color: transparent;
  opacity: 0;
  z-index: 25;
  transition: .2s linear;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }


  span {
    width: 40px;
    height: 26px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    display: block;

    @media (min-width: 1800px) {
      width: 48px;
      height: 32px;
    }
  }

  &:hover {
    filter: drop-shadow(0px 0px 5px #FFF);
    opacity: 1 !important;
  }
}

.screen-switch-btn-2 {
  opacity: 1;

  .wrap {
    display: flex;
    justify-content: center;
  }

  span {
    width: 10px;
    height: 26px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    display: block;
    margin: 0 2px;

    @media (min-width: 1800px) {
      width: 14px;
      height: 32px;
    }
  }
}

.mob-menu-btn {
  @include btn-base;
  position: fixed;
  right: 11px;
  top: 13px;
  padding: 5px;
  z-index: 105;

  @media (min-width: 992px) {
    display: none;
  }
}

.main-icons {
  //position: absolute;
  //top: 0;
  //right: 0;
  //padding: 16px;
  //display: none;
  //flex-direction: column;
  //align-items: flex-end;
  //z-index: 105;
  //width: 100vw;
  //height: 100vh;
  //background-color: rgba(0,0,0,0.8);

  @media (min-width: 992px) {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 5%;
    right: 5%;
    padding: 0;
    width: auto;
    height: auto;
    z-index: 100;
  }

  .social-icons {
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
  }

  .social-icons-item {
    width: 24px;
    height: 24px;
    //border-radius: 50%;
    background-color: transparent;
    margin: 8px 2px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s linear;

    @media (min-width: 992px) {

    }

    &:hover {
      opacity: 1;
      filter: drop-shadow(0px 0px 3px #FFF);
    }
  }
}

.language-block {
  position: relative;
  display: none;

  @media (min-width: 992px) {
    display: block;
    &:hover {
      .lang-dropdown {
        display: block;
      }
    }
  }


  .current-lang {
    @include btn-base;
    color: $text-color;
    padding: 0 6px 2px;
    margin: 0 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 100%;
    opacity: .9;
    transition: .2s linear;
    display: none;

    @media (min-width: 992px) {
      display: block;
    }

    &:hover {
      opacity: 1;
      filter: drop-shadow(0px 0px 3px #FFF);
    }
  }

  .lang-dropdown {
    display: flex;
    @media (min-width: 992px) {
      display: none;
      position: absolute;
      z-index: 20;
    }

    .lang-item {
      margin: 0 2px;

      @media (min-width: 992px) {
        opacity: .9;
        transition: .2s linear;
      }

      a {
        font-size: 18px;
        color: #fff;
        padding: 6px;
      }

      &:hover {
        opacity: 1;
        filter: drop-shadow(0px 0px 3px #FFF);
      }
    }
  }
}

.menu-btn-wrapper {
  text-align: center;

  @media (min-width: 992px) {
    width: 30px;
  }

  .mob-text {
    display: block;
    color: $text-color;
    font: 400 18px/ 120% 'Roboto', sans-serif;
    padding: 0 5px;
    @media (min-width: 992px) {
      display: none;
    }
  }
}

.menu-btn {
  @include btn-base;
  display: flex;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  transition: .2s ease-in-out;
  position: absolute;
  right: 24px;
  top: 9px;
  z-index: 25;

  @media (min-width: 992px) {
    position: static;
    right: auto;
    top: auto;;
    &:hover {
      transform: scale(1.3);
    }
  }

  @media (min-width: 1800px) {
    position: static;
    right: auto;
    top: auto;
  }

  span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 2.5px;
    display: block;
    background-color: #fff;
    transition: .2s linear;
  }
}


//----------------------------------------------------Second format-------------



.format-2 {
  transition: background-color 0.5s ease;


  .logo-format-2 {
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 196px;
    z-index: 20;

    img {
      width: 196px;
    }
  }

  .second-format {
    width: 100vw;
    height: 100vh;
    z-index: 20;
    opacity: 0;

    .trend-item-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1140px;
      color: #fff;
      text-align: center;
      user-select: none;
    }

    .trend-item-title {
      font: 400 90px/120% $title-font;
      //max-width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto 15px;
      color: #fff;

      @media (min-width: 1800px) {
        font: 400 150px/120% $title-font;
        //max-width: 90%;
        margin: 0 auto 30px;
      }

      .word-overflow {
        margin: 0 10px;
        overflow: hidden;

        span {
          display: block;
        }
      }
    }

    .trend-item-descr {
      font: 400 16px/120% $text-font;
      display: flex;
      justify-content: center;

      @media (min-width: 1800px) {
        font: 400 24px/120% $text-font;
      }

      .word-overflow {
        margin: 0 3px;
        overflow: hidden;

        span {
          display: block;
        }
      }
    }
  }

  .trend-image {
    display: block;
    object-fit: cover;
    position: absolute;
  }

  .scroll-down-btn {
    @include btn-base;
    background-color: transparent;
    position: fixed;
    bottom: 5%;
    right: 44px;
    z-index: 20;
    font: 700 14px/120% $text-font;
    color: #fff;
    transition: .2s linear;

    @media (min-width: 1800px) {
      font: 700 18px/120% $text-font;
      bottom: 10%;
      right: 88px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 3px #FFF);
    }
  }

  //.preloader-logo {
  //  z-index: 20;
  //  position: fixed;
  //  top: 5%;
  //  left: 0;
  //}

  .preloader-logo {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 196px;
    z-index: 20;
    display: none;

    img {
      width: 196px;
    }
  }

  .logo-wrapper {
    position: relative;
    width: 100%;
    display: block;
  }

  .logo-white-wrap {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
  }

  .load-percent {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  .trend-link {
    width: 100%;
    height: 100%;
    display: block;
  }

  .agencies-block {
    display: block;
    z-index: 25;
    position: absolute;
    left: calc(100% - 25px);
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: auto;
    max-height: 560px;
    height: 50px;
    background: linear-gradient(0deg, #731C1C, #731C1C);
    color: #fff;
    transform-origin: center center;
    transition: .1s linear;
    padding: 15px 56px;
    text-align: center;
    cursor: url(../img/icons/trend-item-cursor.svg) 30 20, pointer;

    @media (min-width: 1800px) {
      left: calc(100% - 33px);
      height: 66px;
      padding: 17px 56px;
    }

    .title {
      font: 700 16px/120% $text-font;
      text-align: center;
      white-space: nowrap;

      @media (min-width: 1800px) {
        font: 700 24px/120% $text-font;
      }
    }

    &:hover {
      height: 120px;
      padding: 32px 56px;

      @media (min-width: 1800px) {
        height: 150px;
        padding: 40px 56px;
      }

    }
  }

  //-------------------------------Images position----------------------
  #trend-images-screen-1 {
    .trend-image-1 {
      width: 30%;
      max-width: 580px;
      height: 75%;
      max-height: 882px;
      top: 53%;
      left: 50%;
      transform: rotate(6.98deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 193px;
      height: 193px;
      top: 10%;
      left: 10%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 193px;
      //  height: 193px;
      //}

    }

    .trend-image-3 {
      width: 300px;
      height: 300px;
      top: 20%;
      left: calc(50% + 260px);
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //  left: calc(50% + 260px);
      //}
    }
  }

  #trend-images-screen-2 {
    .trend-image-1 {
      width: 32%;
      max-width: 678px;
      height: 75%;
      max-height: 882px;
      top: 48%;
      left: 53%;
      transform: rotate(-6.75deg) translate(-50%, -50%);

      //@media (min-width: 1800px) {
      //  width: 40%;
      //  height: 80%;
      //}
    }

    .trend-image-2 {
      width: 300px;
      height: 300px;
      bottom: 25%;
      left: 7%;
      transform: rotate(-12.61deg);
      //
      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //}
    }

    .trend-image-3 {
      width: 193px;
      height: 193px;
      left: calc(50% + 260px);
      top: 27%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 193px;
      //  height: 193px;
      //  left: calc(50% + 260px);
      //}
    }
  }

  #trend-images-screen-3 {
    .trend-image-1 {
      width: 32%;
      max-width: 641px;
      height: 75%;
      max-height: 882px;
      top: 53%;
      left: 48%;
      transform: rotate(5.69deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 281px;
      height: 193px;
      top: 25%;
      left: 7%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 281px;
      //  height: 193px;
      //}
    }

    .trend-image-3 {
      width: 300px;
      height: 339px;
      top: 27%;
      left: calc(50% + 260px);
      transform: rotate(-8.17deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 339px;
      //  left: calc(50% + 260px);
      //}
    }
  }

  #trend-images-screen-4 {
    .trend-image-1 {
      width: 37%;
      max-width: 787px;
      height: 75%;
      max-height: 882px;
      top: 48%;
      left: 53%;
      transform: rotate(-3.59deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 193px;
      height: 250px;
      top: 30%;
      left: 15%;
      transform: rotate(-3.77deg);

      //@media (min-width: 1800px) {
      //  width: 193px;
      //  height: 250px;
      //}
    }

    .trend-image-3 {
      width: 300px;
      height: 300px;
      top: 30%;
      right: 10%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //  right: 10%;
      //}
    }
  }

  #trend-images-screen-5 {
    .trend-image-1 {
      width: 33%;
      max-width: 654px;
      height: 75%;
      max-height: 882px;
      top: 55%;
      left: 50%;
      transform: rotate(6.98deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 218px;
      height: 208px;
      top: 30%;
      left: 18%;
      transform: rotate(-4.2deg);

      //@media (min-width: 1800px) {
      //  width: 218px;
      //  height: 208px;
      //}
    }

    .trend-image-3 {
      width: 300px;
      height: 300px;
      bottom: 20%;
      right: 9%;
      transform: rotate(-1.29deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //  right: 10%;
      //}
    }
  }

  #trend-images-screen-6 {
    .trend-image-1 {
      width: 30%;
      max-width: 581px;
      height: 75%;
      max-height: 882px;
      top: 55%;
      left: 40%;
      transform: rotate(5.14deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 300px;
      height: 300px;
      left: 10%;
      bottom: 22%;
      transform: rotate(-4.2deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //}
    }

    .trend-image-3 {
      width: 307px;
      height: 193px;
      top: 30%;
      right: 10%;
      transform: rotate(-11.6deg);

      //@media (min-width: 1800px) {
      //  width: 307px;
      //  height: 193px;
      //  right: 10%;
      //}
    }
  }

  #trend-images-screen-7 {
    .trend-image-1 {
      width: 36%;
      max-width: 632px;
      height: 75%;
      max-height: 882px;
      top: 44%;
      left: 55%;
      transform: rotate(-13.48deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 193px;
      height: 193px;
      top: 25%;
      left: 15%;
      transform: rotate(6.98deg);
      //
      //@media (min-width: 1800px) {
      //  width: 193px;
      //  height: 193px;
      //}
    }

    .trend-image-3 {
      width: 300px;
      height: 300px;
      top: 30%;
      right: 10%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //  right: 10%;
      //}
    }
  }

  #trend-images-screen-8 {
    .trend-image-1 {
      width: 30%;
      max-width: 647px;
      height: 75%;
      max-height: 882px;
      top: 55%;
      left: 53%;
      transform: rotate(6.98deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 300px;
      height: 300px;
      top: 25%;
      left: 20%;
      transform: rotate(19.36deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //}
    }

    .trend-image-3 {
      width: 193px;
      height: 193px;
      bottom: 20%;
      right: 10%;
      transform: rotate(-2.83deg);

      //@media (min-width: 1800px) {
      //  width: 193px;
      //  height: 193px;
      //  right: 10%;
      //}
    }
  }


  #trend-images-screen-9 {
    .trend-image-1 {
      width: 29%;
      max-width: 639px;
      height: 75%;
      max-height: 882px;
      top: 50%;
      left: 52%;
      transform: rotate(-6.55deg) translate(-50%, -50%);

      @media (min-width: 1800px) {
        width: 40%;
        height: 80%;
      }
    }

    .trend-image-2 {
      width: 300px;
      height: 300px;
      bottom: 20%;
      left: 15%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 300px;
      //  height: 300px;
      //}
    }

    .trend-image-3 {
      width: 210px;
      height: 270px;
      top: 20%;
      right: 20%;
      transform: rotate(6.98deg);

      //@media (min-width: 1800px) {
      //  width: 210px;
      //  height: 270px;
      //  right: 20%;
      //}
    }
  }

}

//.trend-image, .trend-item-title {
//  transition: .2s linear;
//}
//




















